@model PetRemember.ViewModels.UserViewModel

@{
    ViewData["Title"] = "Ficha";
}

<div class="texto_saludo">
    <h1>¡HOLA DE NUEVO!</h1>
    <span>@Model.User.FullName</span>
    <p>
        ¿Cómo estan tus mascotas? Acuérdate de actualizar sus datos y tener el calendario de tus mascotas al día
    </p>
</div>

<div class="calendar">
    <span class="calendar__month">< &emsp;&emsp;&emsp;&emsp; @Model.Month &emsp;&emsp;&emsp;&emsp; ></span>
    <table>
        @for (int row = 0; row <= Model.Weeks.GetUpperBound(0); row++)
        {
        <tr>
            @for (int column = 0; column <= Model.Weeks.GetUpperBound(1); column++)
            {
            <td>
                @if (Model.Weeks[row, column] != 0)
                {
                    @Model.Weeks[row, column]
                }
            </td>
            }
        </tr>
        }
    </table>
</div>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Mail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Mail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pets)
        </dt>
        <dd class="col-sm-10">
            <ul>
                @foreach (var Pet in Model.Pets)
                {
                    <li class="row">
                        <span>@Pet.Name</span>
                    </li>
                }
            </ul>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products)
        </dt>
        <dd class="col-sm-10">
            <ul>
                @foreach (var Product in Model.Products)
                {
                    <li class="row">
                        <span>@Product.Name</span>
                    </li>
                }
            </ul>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.User.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>